---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import profilePicture from "../assets/profile-pictures/KevinJust_18-01-183-web.jpg";
import { type CVEntry } from "../types/CVEntry";
import CVEntryElement from "../components/CVEntryElement.astro";

const cvEntries: CVEntry[] = [
  {
    company: "Wildmoser electronic",
    positions: ["Praktikant"],
    startDate: Date.parse("01 Sep 2014 23:00:00 +01:00"),
    endDate: Date.parse("01 Feb 2015 23:00:00 +01:00"),
    description:
      "Mein erster richtiger Job in der Wirtschaft. Ich hab gelernt wie man Platinen designed und microcontroller programmiert. Das Project an dem ich gearbeitet habe war ein kapazitives sensor board das 2 Applikationen hatte, Regen und Finger Erkennung. Mir wurde erzählt das meine Prototypen die Basis für die Lösung waren, die es später in die Produkte unserer Kunden geschafft hat.",
    skills: [
      "C",
      "Circuit design",
      "PCB design",
      "Altium",
      "MPLAB",
      "Embedded Systems",
    ],
  },
  {
    company: "Zentrale It der Hochschule München",
    positions: ["Werkstudent"],
    startDate: Date.parse("01 Jun 2015 23:00:00 +01:00"),
    endDate: Date.parse("01 Apr 2016 23:00:00 +01:00"),
    description:
      "Hier hab ich gearbeitet während ich an meiner Bachelorarbeit gearbeitet habe. Neben dem Wissen wie man Firewalls aufsetzt, was notwendig für meine Bachelorarbeit war, hab ich auch viel über Computer Netzwerke und das Netzwerk der Hochschule selbst gelernt. Da die meisten Server Linux Server waren, hab ich meine meisten Kommandozeilen Skills hier gelernt.",
    skills: ["pfSense", "Linux", "Network Security", "PHP"],
  },
  {
    company: "Magazino GmbH",
    positions: ["Werkstudent"],
    startDate: Date.parse("01 Mar 2016 23:00:00 +01:00"),
    endDate: Date.parse("01 Oct 2016 23:00:00 +01:00"),
    description:
      "Mein erster Job in der Robotik, was vor allem damals sehr afregend für mich war. Ich hatte gerade erst meinen Bachelor in Elektrotechnik abgeschlossen, weshalb ich in der Elektrorechnik-Abteilung angefnagen hab. Mein Haupttheme war das reverse engineeren eines Programms, das wir zum flashen der Elektromotoren verwendet haben. Das Program gab es nämlich nur für Windows, allerdings hatten die meisten Ingeneure einen Linux-Rechner. CAN-Bus Signal Analyse und ein Python Zauberei haben eine Library kreiert die anscheinend noch lange nachdem ich die Firma verlassen habe genutzt wurde (Quelle: Freunde von mit die nach mir hier gearbeitet haben).",
    skills: ["Python", "C++", "CAN", "I2C", "Embedded Systems"],
  },
  {
    company: "Roboy (heutzutage Robody)",
    positions: ["Laborkurs", "Junior Angel", "Masterarbeit"],
    startDate: Date.parse("01 Oct 2017 23:00:00 +01:00"),
    endDate: Date.parse("01 Sep 2019 23:00:00 +01:00"),
    description:
      "Dieses projekt hat mich die meiste Zeit meines Masterstudiums begleitet. Es begann mit der Arbeit an der Lokalisierung von Schallquellen, wodurch der Roboter später in der Lage war in die Richtung des nähersten Sprechers zu schauen. Zwischendurch hatte ich meine erste Führungserfahrung, indem ich andere Studenten angeleitet habe eine UI zu bauen, die es einfacher machte Aufgaben für den Roboter auszuwählen und auszuführen. Es endete mit meiner Masterarbeit in der ich einen generativen Algorithmus verwendet habe, um die Platzierung unserer muskoskelettalen Aktuatoren für einen simulierten Exoskelett Arm zu optimieren. Das Exoskelett hat es nie in einen echten Prototypen geschafft, aber das Schreiben der Simulation hat mir viel über C++, Python und Robotik beigebracht.",
    skills: [
      "FPGA",
      "Verilog",
      "Matlab",
      "Python",
      "ROS",
      "C++",
      "Raspberry Pi",
      "Python",
      "Gazebo",
      "OpenSim",
      "Audio Processing",
    ],
  },
  {
    company: "QAware GmbH",
    positions: [
      "Werkstudent Softwaredevelopment",
      "Softwareingenieur",
      "Senior Softwareingenieur",
    ],
    startDate: Date.parse("01 Mar 2017 23:00:00 +01:00"),
    endDate: Date.parse("01 Aug 2022 23:00:00 +01:00"),
    description:
      "Das ist die Firma bei der ich bisher die meiste Zeit verbracht hab. Ich habe während meines Masterstudiums angefangen und bin noch ein paar Jahre nach dem Abschluss geblieben. Hier hab ich den Unterschied zwischen einem Programmierer und einem Software Ingenieur gelernt. Während ich Java Backends gebaut habe, hab ich gelernt wie man über Lösungen nachdenkt und mit jemandem darüber redet, bevor man anfängt sie zu implementieren. Ich hatte auch meine erste richtige Frontend Erfahrung hier. In dem Projekt hab ich meine Liebe dafür entdeckt und war so motiviert, dass ich das Projekt später als Team Lead übernommen habe. Die Firma hat uns auch erlaubt Nebenprojekte zu haben, was ich genutzt habe um 3D Animation mit Three.js zu lernen. Ich hatte eine schöne Zeit hier und es war eine keine leichte Entscheidung zu gehen, aber ich wollte zurück in die Robotik und ich wollte meinen neuen Frontend Skills weiter ausbauen.",
    skills: [
      "Java",
      "Springboot",
      "Maven",
      "Elasticsearch",
      "Go",
      "Python",
      "Vue",
      "Typescript",
      "Three.js",
      "Mediapipe",
      "Computer Vision",
      "Pose Estimation",
      "Team Lead",
      "Scrum",
      "Jira",
      "Confluence",
      "Feature Specification",
    ],
  },
  {
    company: "Agile Robots SE",
    positions: ["Softwareingenieur", "Senior Softwareingenieur"],
    startDate: Date.parse("01 Sep 2022 23:00:00 +01:00"),
    endDate: "today",
    description:
      "Nach ein paar Jahren weg von Robotern bin ich endlich wieder in einem Robotik Start Up gelandet. Ich arbeite hier zurzeit und es gefällt mir sehr gut. Das Produkt das wir bauen erlaubt es Nicht-Robotik Leuten, Roboter mit einer visuellen Programmiersprache zu programmieren. Meine Liebe für Robotik und Frontend Engineering vereinen sich hier. Zusätzlich konnte ich unser Team aufbauen, indem ich Interviews geführt habe und sogar Team Lead wurde während mein Kollege 4 Monate in Elternzeit war. Zurzeit bin ich der technische Frontend Lead unseres Produktes und helfe meinen Kollegen dabei ihren Code an unsere Architektur anzupassen und ihnen CSS Tricks und Zauberei beizubringen wann immer es möglich ist.",
    skills: [
      "Vue",
      "Typescript",
      "Three.js",
      "Vite",
      "Vitest",
      "SCSS",
      "GraphQL",
      "gRPC",
      "Linux",
      "Robotics",
      "Team Lead",
      "Hiring",
      "Feature Specification",
      "Scrum",
      "Kanban",
    ],
  },
];

const educationEntries: CVEntry[] = [
  {
    company: "Hochschule München",
    positions: ["Bachelor of Engineering"],
    startDate: Date.parse("01 Oct 2012 23:00:00 +01:00"),
    endDate: Date.parse("01 Apr 2016 23:00:00 +01:00"),
    description:
      "Elektro- und Informationstechnik, Schwerpunkt Technische Informatik",
    skills: [],
  },
  {
    company: "Technische Universität München",
    positions: ["Master of Science"],
    startDate: Date.parse("01 Oct 2016 23:00:00 +01:00"),
    endDate: Date.parse("01 Sep 2019 23:00:00 +01:00"),
    description: "Robotics, Cognition, Intelligence",
    skills: [],
  },
];

const skillLevelMap = {
  Frontend: {
    color: "var(--rosewater)",
    skillMap: {
      Vue: 4,
      Astro: 4,
      CSS: 4,
      Typescript: 4,
      "Three.js": 4,
      GraphQL: 3,
      gRPC: 3,
    },
  },
  Backend: {
    color: "var(--green)",
    skillMap: {
      C: 2,
      "C++": 2,
      Python: 3,
      Java: 2,
    },
  },
  Generell: {
    color: "var(--lavender)",
    skillMap: {
      Git: 4,
      Linux: 4,
      Leadership: 3,
      Hiring: 4,
      "Feature Specification": 4,
    },
  },
};
---

<BaseLayout title="CV">
  <h1>Lebenslauf</h1>
  <div class="cv-layout">
    <Image class="profile-picture" src={profilePicture} alt="Profile picture" />

    <div class="summary">
      <span class="quote">„</span>
      <p>
        Ich bin ein Softwareentwickler aus München mit einem breiten Feld an
        Expertiese. Ich bin derzeitig auf Frontend Entwicklung spezialisiert.
        Meine Stärke ist die Entwicklung von Anwendungen, die komplexe Daten
        verarbeiten und visualisieren, vorzugsweise in 3D.
      </p>
      <span class="quote">“</span>
    </div>

    <div class="cv-sidebar">
      <h2>Skills</h2>
      <ul>
        {
          Object.entries(skillLevelMap).map(
            ([category, { color, skillMap }]) => (
              <li>
                <h5>{category}</h5>
                <ul class="skill-list">
                  {Object.entries(skillMap).map(([skill, level]) => (
                    <li class="skill-level">
                      <span>{skill}</span>
                      <div
                        class="skill-level-indicator"
                        style={`--skill-color: ${color}`}
                      >
                        {Array.from({ length: 5 }, (_, i) => (
                          <span
                            class:list={["point", i < level ? "filled" : ""]}
                          />
                        ))}
                      </div>
                    </li>
                  ))}
                </ul>
              </li>
            ),
          )
        }
      </ul>
    </div>

    <div class="cv-content">
      <h2>Erfahrung</h2>
      <ul class="entry-list">
        {
          cvEntries.map((entry) => (
            <CVEntryElement
              entry={entry}
              timeSpanColor="var(--sapphire)"
              isGerman
            />
          ))
        }
      </ul>
      <h2>Ausbildung</h2>
      <ul class="entry-list">
        {
          educationEntries.map((entry) => (
            <CVEntryElement
              entry={entry}
              timeSpanColor="var(--green)"
              isGerman
            />
          ))
        }
      </ul>
    </div>
  </div>
</BaseLayout>

<style>
  .cv-layout {
    display: grid;
    grid-template-areas:
      "image summary"
      "skills entries";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    gap: var(--size-32);

    .profile-picture {
      grid-area: image;
    }

    img {
      object-fit: cover;
      border-radius: 100vw;
      max-height: 70%;
      width: auto;
      border: var(--size-4) solid var(--subtext1);
      align-self: center;
      justify-self: center;
    }

    .summary {
      grid-area: summary;
      display: flex;
      align-items: center;

      .quote {
        color: color-mix(in oklch, var(--text), transparent 70%);
        font-size: var(--size-192);
      }
    }

    .cv-sidebar {
      grid-area: skills;
      display: flex;
      flex-direction: column;
      gap: var(--size-4);

      h2 {
        margin: 0 0 var(--size-16) 0;
      }

      ul {
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: var(--size-32);

        &.skill-list {
          gap: var(--size-8);
        }
        li {
          font-size: var(--font-size-20);

          h5 {
            font-size: var(--font-size-20);
            margin: 0 0 var(--size-16) 0;
          }

          .skill-level {
            display: flex;
            align-items: center;
            gap: var(--size-16);
            justify-content: space-between;

            .skill-level-indicator {
              display: flex;
              gap: var(--size-4);

              .point {
                --point-size: var(--size-12);

                width: var(--point-size);
                height: var(--point-size);
                border-radius: 100vw;
                background-color: color-mix(
                  in oklch,
                  var(--skill-color),
                  transparent 60%
                );

                &.filled {
                  background-color: var(--skill-color);
                }
              }
            }
          }
        }
      }
    }

    .cv-content {
      grid-area: entries;

      h2 {
        margin: 0 0 var(--size-16) 0;
      }

      .entry-list {
        padding: 0 0 0 var(--size-16);
        display: grid;
        grid-template-columns: auto 1fr;
        gap: var(--size-24);
      }
    }

    @media (min-width: 1200px) {
      width: 80%;
    }

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      gap: var(--size-32);

      img {
        max-height: 50%;
      }

      .cv-entry-list {
        padding: 0;
      }
    }
  }
</style>
